In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
def DataCleaning(df):
    df['Product_Category_2'].fillna(0,inplace = True)
    df['Product_Category_3'].fillna(0,inplace = True)
    df['Product_Category_2'] = df['Product_Category_2'].astype(int) 
    df['Product_Category_3'] = df['Product_Category_3'].astype(int) 

    df['Gender'] = np.where(df['Gender']=='M', 1, 0)

    df = pd.get_dummies(df, columns=['Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years',
                                     'Product_Category_1', 'Product_Category_2', 'Product_Category_3'])
    
    return df

In [5]:
df = DataCleaning(df)

In [6]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Marital_Status', 'Purchase',
       'Age_0-17', 'Age_18-25', 'Age_26-35', 'Age_36-45', 'Age_46-50',
       'Age_51-55', 'Age_55+', 'Occupation_0', 'Occupation_1', 'Occupation_2',
       'Occupation_3', 'Occupation_4', 'Occupation_5', 'Occupation_6',
       'Occupation_7', 'Occupation_8', 'Occupation_9', 'Occupation_10',
       'Occupation_11', 'Occupation_12', 'Occupation_13', 'Occupation_14',
       'Occupation_15', 'Occupation_16', 'Occupation_17', 'Occupation_18',
       'Occupation_19', 'Occupation_20', 'City_Category_A', 'City_Category_B',
       'City_Category_C', 'Stay_In_Current_City_Years_0',
       'Stay_In_Current_City_Years_1', 'Stay_In_Current_City_Years_2',
       'Stay_In_Current_City_Years_3', 'Stay_In_Current_City_Years_4+',
       'Product_Category_1_1', 'Product_Category_1_2', 'Product_Category_1_3',
       'Product_Category_1_4', 'Product_Category_1_5', 'Product_Category_1_6',
       'Product_Category_1_7', 'Product_Category_1_8', 'Product_Category_1_9',
       'Product_Category_1_10', 'Product_Category_1_11',
       'Product_Category_1_12', 'Product_Category_1_13',
       'Product_Category_1_14', 'Product_Category_1_15',
       'Product_Category_1_16', 'Product_Category_1_17',
       'Product_Category_1_18', 'Product_Category_1_19',
       'Product_Category_1_20', 'Product_Category_2_0', 'Product_Category_2_2',
       'Product_Category_2_3', 'Product_Category_2_4', 'Product_Category_2_5',
       'Product_Category_2_6', 'Product_Category_2_7', 'Product_Category_2_8',
       'Product_Category_2_9', 'Product_Category_2_10',
       'Product_Category_2_11', 'Product_Category_2_12',
       'Product_Category_2_13', 'Product_Category_2_14',
       'Product_Category_2_15', 'Product_Category_2_16',
       'Product_Category_2_17', 'Product_Category_2_18',
       'Product_Category_3_0', 'Product_Category_3_3', 'Product_Category_3_4',
       'Product_Category_3_5', 'Product_Category_3_6', 'Product_Category_3_8',
       'Product_Category_3_9', 'Product_Category_3_10',
       'Product_Category_3_11', 'Product_Category_3_12',
       'Product_Category_3_13', 'Product_Category_3_14',
       'Product_Category_3_15', 'Product_Category_3_16',
       'Product_Category_3_17', 'Product_Category_3_18'],
      dtype='object')

In [7]:
df['Product_Category_2_1'] = 0
df['Product_Category_2_19'] = 0
df['Product_Category_2_20'] = 0

df['Product_Category_3_1'] = 0
df['Product_Category_3_2'] = 0
df['Product_Category_3_7'] = 0
df['Product_Category_3_19'] = 0
df['Product_Category_3_20'] = 0


df = df.drop('Product_Category_2_0', axis=1)
df = df.drop('Product_Category_3_0', axis=1)

In [8]:
myL = ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20')

In [9]:
myL2 = ['Product_Category_1_1', 'Product_Category_1_2', 'Product_Category_1_3', 
        'Product_Category_1_4', 'Product_Category_1_5', 'Product_Category_1_6',
        'Product_Category_1_7', 'Product_Category_1_8', 'Product_Category_1_9', 
        'Product_Category_1_10', 'Product_Category_1_11', 'Product_Category_1_12',
        'Product_Category_1_13', 'Product_Category_1_14', 'Product_Category_1_15',
        'Product_Category_1_16', 'Product_Category_1_17', 'Product_Category_1_18',
        'Product_Category_1_19', 'Product_Category_1_20', 'Product_Category_2_1',
        'Product_Category_2_2', 'Product_Category_2_3', 'Product_Category_2_4',
        'Product_Category_2_5', 'Product_Category_2_6', 'Product_Category_2_7',
        'Product_Category_2_8', 'Product_Category_2_9', 'Product_Category_2_10',
        'Product_Category_2_11', 'Product_Category_2_12', 'Product_Category_2_13',
        'Product_Category_2_14', 'Product_Category_2_15', 'Product_Category_2_16',
        'Product_Category_2_17', 'Product_Category_2_18', 'Product_Category_2_19',
        'Product_Category_2_20', 'Product_Category_3_1', 'Product_Category_3_2',
        'Product_Category_3_3', 'Product_Category_3_4', 'Product_Category_3_5',
        'Product_Category_3_6', 'Product_Category_3_7', 'Product_Category_3_8',
        'Product_Category_3_9', 'Product_Category_3_10', 'Product_Category_3_11',
        'Product_Category_3_12', 'Product_Category_3_13', 'Product_Category_3_14',
        'Product_Category_3_15', 'Product_Category_3_16', 'Product_Category_3_17',
        'Product_Category_3_18', 'Product_Category_3_19', 'Product_Category_3_20']

In [10]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Marital_Status', 'Purchase',
       'Age_0-17', 'Age_18-25', 'Age_26-35', 'Age_36-45', 'Age_46-50',
       ...
       'Product_Category_3_17', 'Product_Category_3_18',
       'Product_Category_2_1', 'Product_Category_2_19',
       'Product_Category_2_20', 'Product_Category_3_1', 'Product_Category_3_2',
       'Product_Category_3_7', 'Product_Category_3_19',
       'Product_Category_3_20'],
      dtype='object', length=101)

In [11]:
df4=pd.DataFrame()

In [12]:
for i in myL:
    df4['Product_Category_'+i] = df['Product_Category_1_'+i] + df['Product_Category_2_'+i] + df['Product_Category_3_'+i]

In [13]:
df4

,Product_Category_1,Product_Category_2,Product_Category_3,Product_Category_4,Product_Category_5,Product_Category_6,Product_Category_7,Product_Category_8,Product_Category_9,Product_Category_10,Product_Category_11,Product_Category_12,Product_Category_13,Product_Category_14,Product_Category_15,Product_Category_16,Product_Category_17,Product_Category_18,Product_Category_19,Product_Category_20
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
550064,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
550065,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
550066,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
550067,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [14]:
df = df.drop(myL2, axis=1)
df

,User_ID,Product_ID,Gender,Marital_Status,Purchase,Age_0-17,Age_18-25,Age_26-35,Age_36-45,Age_46-50,...,Occupation_19,Occupation_20,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,1000001,P00069042,0,0,8370,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,1000001,P00248942,0,0,15200,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,1000001,P00087842,0,0,1422,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,1000001,P00085442,0,0,1057,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1000002,P00285442,1,0,7969,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,1,1,368,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
550064,1006035,P00375436,0,0,371,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
550065,1006036,P00375436,0,1,137,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
550066,1006038,P00375436,0,0,365,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
550067,1006039,P00371644,0,1,490,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1

In [15]:
df = df.merge(df4, left_index=True, right_index=True)
df

,User_ID,Product_ID,Gender,Marital_Status,Purchase,Age_0-17,Age_18-25,Age_26-35,Age_36-45,Age_46-50,...,Product_Category_11,Product_Category_12,Product_Category_13,Product_Category_14,Product_Category_15,Product_Category_16,Product_Category_17,Product_Category_18,Product_Category_19,Product_Category_20
0,1000001,P00069042,0,0,8370,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1000001,P00248942,0,0,15200,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1000001,P00087842,0,0,1422,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1000001,P00085442,0,0,1057,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
4,1000002,P00285442,1,0,7969,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,1,1,368,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
550064,1006035,P00375436,0,0,371,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
550065,1006036,P00375436,0,1,137,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
550066,1006038,P00375436,0,0,365,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
550067,1006039,P00371644,0,1,490,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [22]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, mean_absolute_error, mean_squared_error

import time

from sklearn.ensemble import RandomForestRegressor


from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [17]:
df.drop(["User_ID","Product_ID"],axis=1,inplace=True)

In [18]:
df

,Gender,Marital_Status,Purchase,Age_0-17,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,...,Product_Category_11,Product_Category_12,Product_Category_13,Product_Category_14,Product_Category_15,Product_Category_16,Product_Category_17,Product_Category_18,Product_Category_19,Product_Category_20
0,0,0,8370,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,15200,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,1422,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,1057,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
4,1,0,7969,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1,1,368,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
550064,0,0,371,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
550065,0,1,137,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
550066,0,0,365,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
550067,0,1,490,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [20]:
y = df.Purchase.values

features = [ 'Gender', 'Marital_Status', 'Age_0-17',
            'Age_18-25', 'Age_26-35', 'Age_36-45', 'Age_46-50', 'Age_51-55', 'Age_55+',
            'Occupation_0', 'Occupation_1', 'Occupation_2', 'Occupation_3', 'Occupation_4',
            'Occupation_5', 'Occupation_6', 'Occupation_7', 'Occupation_8', 'Occupation_9', 'Occupation_10',
            'Occupation_11', 'Occupation_12', 'Occupation_13', 'Occupation_14', 'Occupation_15', 
            'Occupation_16', 'Occupation_17', 'Occupation_18', 'Occupation_19', 'Occupation_20',
            'City_Category_A', 'City_Category_B', 'City_Category_C',
            'Stay_In_Current_City_Years_0', 'Stay_In_Current_City_Years_1', 'Stay_In_Current_City_Years_2',
            'Stay_In_Current_City_Years_3', 'Stay_In_Current_City_Years_4+',
            'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'Product_Category_4',
            'Product_Category_5', 'Product_Category_6', 'Product_Category_7', 'Product_Category_8',
            'Product_Category_9', 'Product_Category_10', 'Product_Category_11', 'Product_Category_12',
            'Product_Category_13', 'Product_Category_14', 'Product_Category_15', 'Product_Category_16',
            'Product_Category_17', 'Product_Category_18', 'Product_Category_19', 'Product_Category_20']

X = df[features].values

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [24]:
from xgboost.sklearn import XGBRegressor

In [25]:
parameters = {
    'max_depth': range (2, 10, 1),
    'n_estimators': range(60, 220, 40),
    'learning_rate': [0.1, 0.01, 0.05]
}

In [26]:
rfr_random = RandomizedSearchCV(estimator= XGBRegressor(), param_distributions=parameters, n_iter = 20, cv = 3, verbose=2, random_state=42, n_jobs=-1)

In [27]:
rfr_random.fit(X_train,y_train)

Fitting 3 folds for each of 20 candidates, totalling 60 fits

RandomizedSearchCV(cv=3,
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_estimators=100, n_jobs=None,
                                          num_parallel_tree=None,
                                          random_state=None, reg_alpha=None,
                                          reg_lambda=None,
                                          scale_pos_weight=None, subsample=None,
                                          tree_method=None,
                                          validate_parameters=None,
                                          verbosity=None),
                   n_iter=20, n_jobs=-1,
                   param_distributions={'learning_rate': [0.1, 0.01, 0.05],
                                        'max_depth': range(2, 10),
                                        'n_estimators': range(60, 220, 40)},
                   random_state=42, verbose=2)

In [28]:
rfr_random.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=9,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=180, n_jobs=12, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [30]:
xgb=XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=9,
             min_child_weight=1,  monotone_constraints='()',
             n_estimators=180, n_jobs=12, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [39]:
xgb = xgb.fit(X_train,y_train)
#Predict the response for train dataset
y_pred_train = xgb.predict(X_train)
#Predict the response for test dataset
y_pred = xgb.predict(X_test)

In [40]:
# finding the mean_squared error
mse = mean_squared_error(y_test, y_pred)
print("RMSE Error:", np.sqrt(mse))

RMSE Error: 2880.74948421254

In [37]:
sc = StandardScaler()
scaler = sc.fit(X)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [43]:
rfr = RandomForestRegressor(random_state=42, verbose=True,
                                     max_leaf_nodes=5000, 
#                                      min_samples_leaf=4, bootstrap=True, min_samples_split=15, 
#                                      max_depth=50, max_features=90, min_samples_split=2,
#                                      n_estimators=400, max_features='auto',
                                     n_jobs=4)

In [45]:
rfr = rfr.fit(X_train,y_train)
#Predict the response for train dataset
y_pred_train = rfr.predict(X_train)
#Predict the response for test dataset
y_pred = rfr.predict(X_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:  1.7min
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:  5.9min finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.5s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    1.3s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.2s finished

In [46]:
# finding the mean_squared error
mse = mean_squared_error(y_test, y_pred)
print("RMSE Error:", np.sqrt(mse))

RMSE Error: 2912.0185688334336